/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 0.5px solid black; */
}

/* Images */
img {
  display: block;
  width: 100%;
  height: auto;
}

/* Root Variables */
:root {
  --bg-color: rgb(218, 217, 217);
  --primary-color: hsl(0, 0%, 100%);
  --secondary-color: hsl(0, 5%, 85%);
  --text-color: rgb(23, 21, 24);
  --text-dark-green: rgb(48, 167, 1);
  --text-green: rgb(63, 216, 3);
  --text-red: rgb(255, 46, 46);
  --default-font: Arial, Helvetica, sans-serif;
  --opacity: 0.5;
}

/* Dark Mode Variables */
.dark-mode {
  --bg-color: rgb(128, 126, 126);
  --primary-color: hsl(0, 0%, 3%);
  --secondary-color: hsl(0, 1%, 32%);
  --text-color: rgb(255, 255, 255);
}

/* Body */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--default-font);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.5rem;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Calculator Container */
main.calc-container {
  background-color: var(--primary-color);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: 100vh;
  max-height: 600px;  
  width: 100%;
  max-width: 385px;
  align-self: center;
}

/* Calculator Display */
.calc-display {
  width: 100%;
  max-width: 385px;
  overflow: auto;
  height: 150px;
  text-align: right;
  align-content: center;
  font-size: 2rem;
  padding: 0.5rem;
  white-space: wrap;
}

/* Horizontal Rule */
hr.opacity {
  opacity: var(--opacity);
}

/* Calculator Buttons */
.calc-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
  padding: 1rem;
}

.calc-btn {
  border-radius: 50%;
  padding: 1rem;
  background-color: var(--secondary-color);
  border: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

/* Backspace Button */
.backspace {
  border: none;
  margin: 1rem;
  background-color: transparent;
}

.bs-icon {
  display: block;
  width: 100%;
  height: auto;
  color: green;
}

/* Icons Container */
.icons-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Switch Icon */
.switch {
  width: 24px;
  height: 26px;
}

/* Text Alignment */
.text-center {
  text-align: center;
}

/* Toggle Switch */
.toggle-switch {
  display: inline-flex; 
  gap: 1rem; 
  padding: 1rem;
  justify-content: flex-end;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

img.coffee-icon {
  width: 150px;
  height: 80px;
}

/* Individual Button Colors */
.red {
  color: var(--text-red);
}

.operator,
.operator-percentage,
.calc-btn[value='()'] {
  color: var(--text-green);
}

.calculate {
  background-color: var(--text-green);
  color: white;
}

@media screen and (min-width: 426px) {
  header{
    flex-direction: row;
  }
}